<div class="w-100 h-100 vertical-align-container" id="not-found-container">
    <div class="w-70 h-100 mx-auto align-middle vertical-align-inner-container">
    <span class="align-middle vertical-align-content">
      <div class="jumbotron">
          <h1 class="display-1">404 - Not Found</h1>
          <p class="lead">Oh no! The page or content you requested could not be found.</p>
          <a [routerLink]="['']" class="btn btn-primary btn-lg">Back to the home page</a>
      </div>
    </span>
    </div>
</div>
