// Variable declarations
$margin-top: 20vh;
$table-max-height: 75vh;

#mooncascade-event-container {
  padding-top: $margin-top;
}

#mooncascade-event-table tbody {
  max-height: $table-max-height;
}
