<div class="container-fluid" id="mooncascade-event-container">
    <div class="row justify-content-center">
        <div class="col-11">
            <h3 class="display-6">View Event Results</h3>
            <app-notification-list (closeNotificationEvent)="handleOnClose($event)"></app-notification-list>
            <div class="row" *ngIf="(event$ | async)?.registered">
                <div class="col-12">
                    <button type="button" class="btn btn-primary btn-lg btn-block"
                            *ngIf="(!(event$ | async)?.running) && (!(event$ | async)?.completed)" (click)="handleOnClickStart()">Run The Event
                    </button>
                    <button type="button" class="btn btn-primary btn-lg btn-block"
                            *ngIf="(!(event$ | async)?.running) && ((event$ | async)?.completed)" (click)="handleOnClickReload()">Reload The Event
                    </button>
                </div>
            </div>
            <app-event-table></app-event-table>
        </div>
    </div>
</div>