<div class="container-fluid" id="mooncascade-event-container">
    <div class="row justify-content-center">
        <div class="col-11">
            <h1 class="display-6">View Event Results</h1>
            <app-notification-list (closeNotificationEvent)="handleOnClose($event)"></app-notification-list>
            <table class="table table-striped table-bordered table-hover" *ngIf="(athletes$ | async)?.length" id="mooncascade-event-table">
                <thead class="thead-inverse">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th class="text-center" width="50">#</th>
                    <th class="text-right" width="250">Gate Time</th>
                    <th class="text-right" width="250">Finish Time</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let athlete of athletes$ | async">
                    <td>
                        <small>
                            {{ athlete.code }}
                        </small>
                    </td>
                    <td>
                        <small>
                            {{ athlete.name }}
                        </small>
                    </td>
                    <td class="text-center">
                        <small>
                            {{ athlete.startNumber }}
                        </small>
                    </td>
                    <td class="text-right">
                        <small>
                            {{ athlete.timeAtGate }}
                        </small>
                    </td>
                    <td class="text-right">
                        <small>
                            {{athlete.timeAtFinish}}
                        </small>
                    </td>
                </tr>
                </tbody>
                <tfoot class="thead-inverse">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th class="text-center" width="50">#</th>
                    <th class="text-right" width="250">Gate Time</th>
                    <th class="text-right" width="250">Finish Time</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>