<div class="w-100 h-100 vertical-align-container" id="auth-login-contianer">
    <div class="w-70 h-100 mx-auto align-middle vertical-align-inner-container">
    <span class="align-middle vertical-align-content">
      <div class="jumbotron">
          <h1 class="display-4">Login</h1>
          <p class="lead">In order to proceed you need to authenticate. Please provide your credentials and click login in order to proceed.</p>
          <app-login-form></app-login-form>
      </div>
    </span>
    </div>
</div>
