$background-image: '/assets/backgrounds/pexels-photo-421160.jpeg';
$logo-height: 250px;
.vertical-align-container {

  .vertical-align-inner-container {

    display: table;

    .vertical-align-content {
      display: table-cell;
    }

  }
}

#loading-container {
  background: url($background-image) no-repeat center center fixed;
  background-size: cover;


  #mc-logo-large {
    height: $logo-height;
  }
}