<form novalidate>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control is-invalid" id="email" placeholder="Enter your email address">
        <div class="invalid-feedback">
            Please provide a valid email address
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <ng-template #popContent>
        <p>This application currently uses <strong>'Firebase Password-based Accounts'</strong> to
            provide authentication.</p>
        <p>Simply provide a valid email and password and Firebase with automatically handle both authentiation and
            registration.</p>
        <p>More information can be found <a href="https://firebase.google.com/docs/auth/web/password-auth"
                                            target="_blank">here</a>.</p>
    </ng-template>
    <a href="javascript:void(0);" role="button" [ngbPopover]="popContent" placement="right">More information</a>
</form>